.wrapper {
  position: relative;
  background: #010300;
  color: #ffffff;
  letter-spacing: 0.02rem;
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 450;
  font-size: 1.6rem;
  display: grid;
  align-items: flex-end;
  min-height: 100vh;
  place-content: center;

  @media (max-width: 768px) {
    display: none;
  }
}

section {
  height: 3rem;
  width: 60rem;
  position: fixed;
  left: 48.5rem;
  top: 40.5rem;
  border-radius: 5rem;
  left: 34rem;
  width: 75rem;
  top: 37rem;
  height: 10rem;
  &:hover {
    .track {
      left: 31rem;
      width: 81rem;
      top: 37rem;
      height: 10rem;
    }
    .volume {
      left: 33rem;
      color: #010300;
    }
  }
}
.track {
  height: 3rem;
  width: 60rem;
  background: white;
  position: fixed;
  left: 48.5rem;
  top: 40.5rem;
  border-radius: 5rem;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.bar {
}
.volume {
  position: fixed;
  left: 36rem;
  top: 37rem;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

  svg {
    display: grid;
    top: 0;
    width: 10rem;
    height: 10rem;
    position: absolute;
  }
}
.up {
  left: 0rem;
}
.down {
  left: -1rem;
}
.off {
  left: -2rem;
}
.mute {
  left: 0rem;
}

canvas {
  // pointer-events: unset;
  z-index: unset;
}
.dg {
  z-index: 4 !important;
}
