.wrapper {
  position: relative;
  background: #010300;
  color: #ffffff;
  letter-spacing: 0.02rem;
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 450;
  font-size: 1.6rem;
  display: grid;
  align-items: flex-end;
  min-height: 100vh;

  @media (max-width: 768px) {
    display: none;
  }
}
.header {
  position: absolute;
  top: 0;
  width: calc(100% - 8rem);
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  line-height: 150%;
}
.header__home {
}
.header__home__link {
}

.nav {
  width: 43.1rem;
}
.nav__wrapper {
  display: flex;
  gap: 3.2rem;
}
.nav__list {
}
.nav__list__destination {
}
.models {
  margin: 0 auto;
  display: grid;
  align-items: center;
}
.models__header {
  text-align: center;
}
.models__header__text {
  font-size: 4rem;
  line-height: 100%;
}
.models__header__desc {
  width: 45.8rem;
  margin: 1.6rem auto;
}
.models__grid {
  margin: 4rem 0 8.1rem;
  display: grid;
  gap: 2.4rem;
  // pointer-events: none;
  &:hover {
    .models__item {
      opacity: 0.5;
    }
  }
  &[data-fixed] {
    pointer-events: unset;
    z-index: 5;
    position: fixed;
    padding-left: 4.3rem;
    &:hover {
      .models__item {
        opacity: 0;
      }
    }
    .models__item {
      opacity: 1;
      transition: opacity 0.2s;
    }
    .model__image {
      // opacity: 1 !important;
    }
    .model__country {
      opacity: 0;
    }
  }
}
.models__row {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  justify-content: space-between;
  &:nth-of-type(1) {
    width: 117.3rem;
  }
  &:nth-of-type(2) {
    width: 133.6rem;
  }
  &:nth-of-type(3) {
    width: 135.5rem;
  }
}
.models__item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  position: relative;
  opacity: 0.5;
  &:hover {
    z-index: 1;
    .model__media {
      opacity: 1;
    }
    .model__image {
      // clip-path: circle(100% at 50% 50%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}
.model__name {
  font-family: "Playfair Display", serif;
  // font-size: 7.2rem;
  font-size: 7rem;
  line-height: 110%;
  font-weight: 400;
  font-feature-settings: "pnum" on, "lnum" on;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.model__country {
  vertical-align: sub;
  display: inline-block;
  padding-left: 1.6rem;
  position: relative;
  z-index: 1;
}
.model__media {
  opacity: 0;
  position: absolute;
  bottom: -3.2rem;
  width: 24rem;
  height: 32rem;
  // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  margin: 0 3rem;
  pointer-events: none;
}

.model__image {
  clip-path: circle(5% at 50% 75%);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  object-fit: fill;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

canvas {
  pointer-events: unset;
  z-index: 3;
}
.dg {
  z-index: 4 !important;
}
